@page "/latest"

<MudContainer MaxWidth="MaxWidth.Large" Class="my-16">
    <MudText Typo="Typo.h3" GutterBottom>Download Borderless Minecraft</MudText>

    <MudButton Link="" Variant="Variant.Filled" Color="Color.Info" Class="mr-3" StartIcon="@Icons.Filled.FileDownload" download>Download Directly</MudButton>
    <MudButton Link="" Color="Color.Secondary">Download on Github</MudButton>

    <br />

    <div class="mt-1 mb-4">
         <MudText Typo="Typo.caption">Version 1.2.4</MudText>
    </div>   

    <MudText Typo="Typo.h6">Release Notes</MudText>

    @*<MudPaper Width="300px" Class="mt-4">
        <MudList>
            <MudListItem Text="Inbox" Icon="@Icons.Material.Filled.Inbox" />
            <MudListItem Text="Sent" Icon="@Icons.Material.Filled.Send" />
            <MudDivider />
            <MudListItem Text="Trash" />
            <MudListItem Text="Spam" />
        </MudList>
    </MudPaper>*@
</MudContainer>

@*<MudButton Link="">All Releases</MudButton>*@@*<MudButton Link="">All Releases</MudButton>*@

@code {

}
