@page "/"

@*<img src="background.png" style="position:absolute;left:0;top:0;width:100vw;" />*@

<div style="background-image: url('background.png'); background-size: cover; background-position: center center; position: absolute; height: 100vh; width: 100%; top: 0px; left: 0px; z-index: -100; transform: translate3d(0px, -1px, 0px);">

</div>
    <MudText Typo="Typo.h2" Align="Align.Center" GutterBottom>Borderless Minecraft</MudText>
    @*<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>
    <MudAlert Severity="Severity.Normal" Variant="Variant.Filled">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>*@

    <TypingComponent TypingStrings="@typingText" />



@code {
    string[] typingText = {
        "test",
        "this is some text",
        "borderless minecraft"
    };
}